
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Nunito&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Andika', sans-serif;
}

a
{
    text-decoration: none;
}

.section_heading
{
    text-align: center;

}

.section_heading h2
{
    color: #07294d;
    font-size: 45px;
    line-height: 45px;
    padding: 30px 0;
    text-transform: capitalize;
}

/* Header CSS Started from here*/
.header
{
    background-color: #fff;
    z-index: 9999;
    top: 0;
    position: sticky;
}

.header .navbar img
{
    width: 160px;
    height: 55px;
}



.header .menu-navbar-nav li
{
    margin: 0 8px;
}


.header .menu-navbar-nav li ul li
{
    margin: 15px 0;
}


.header .menu-navbar-nav li:hover ul li a
{
    background: none;
}

.header .menu-navbar-nav li:hover ul
{
    border: none;
    box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
    -webkit-box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
    -moz-box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
}

.header .menu-navbar-nav li a
{
    font-size: 17px; 
    color: #07294d;
    transition: all .5s ease;
}

.header .menu-navbar-nav li a:hover
{
    color: #FFC600;
  
}

.header .menu-navbar-nav li a:hover .fa-angle-down
{
    transform: rotate(180deg);
    transition: .6s;
}


.header .menu-navbar-nav li a .fa-plus
{
    display: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    border: none;
    box-shadow: none;
}

/* Header CSS Ended Here  */







/* Contact Banner Section's CSS Started from Here  */
.contact
{
    background: url(../Images/courses_banner.png);
    min-height: 251px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.contact::before
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #07294d;
    z-index: -1;
    opacity: .7;
    
}

.banner_content h3
{
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.banner_content a,
.banner_content span
{
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}

/* Contact  Banner Section's CSS Ended Here  */




/* Contact Us Banner Section's CSS Started from Here  */
.contact_us
{
    background-color: #f5f5f5;
    padding: 60px 0;
}

.questions h3
{
    color: #07294d;
    font-size: 35px;
    line-height: 45px;
    text-align: start;
    letter-spacing: normal;
    
}


.questions > p
{
    color: #4b5158;
    font-size: 16px;
    line-height: 2.2;
    text-align: start;
    letter-spacing: normal;
    margin: 25px 0;
}

.iocns_text
{
    margin-bottom: 25px;
}

.iocns_text .icon i
{
    color: #ecb101;
    font-size: 36px;
    line-height: 40px;
}

.iocns_text .text
{
    margin-left: 16px;
}

.iocns_text .text h5
{
    color: #07294d;
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 7px;
}


.iocns_text .text h4
{
    color: #4b5158;
    font-size: 15px;
    line-height: 20px;
}

form
{
    background-color: #fff;
    border-radius: 7px;
    padding: 45px;
    margin-left: 15px;
}


form .name
{
    display: block;
    margin-bottom: 20px;
}

form .name input
{
    display: inline-block;
    width: 245px;
    padding: 8px 20px;
    border: 1px solid #d7d1d1;
    border-radius: 4px;
}



form .email
{
    display: block;
    margin-bottom: 20px;
}

form .email input
{
    width: 94%;
    padding: 8px 20px;
    border: 1px solid #d7d1d1;
    border-radius: 4px;
}

form .subject
{
    display: block;
    margin-bottom: 20px;
}

form .subject input
{
    width: 94%;
    padding: 8px 20px;
    border: 1px solid #d7d1d1;
    border-radius: 4px;
}

form .subject input:focus
{
    
}

form .textaa
{
    display: block;
    margin-bottom: 20px;
}

form .textaa textarea
{
    width: 94%;
    padding: 8px 20px;
    border: 1px solid #d7d1d1;
    border-radius: 4px;
}

form .submit_btn
{
    background-color: #07294d;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
}

form .submit_btn a
{
    color: #fff;
    font-size: 16px;
    letter-spacing: .9px;
}


form .submit_btn:hover
{
    background-color: #ecb101;
    transition: .6s;
}


/* Contact  Banner Section's CSS Ended Here  */




/* Footer CSS Ended Here  */
.footer
{
    padding: 50px 0;
    background-color: #021d3a;
}

.footer_intro
{
    margin-top: -10px;
}

.footer_intro img
{
    margin: 25px 0;
}

.footer_intro p
{
    color: #fff;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1.2px;
}

.supports
{
    margin-top: 25px;
}

.supports h4
{
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
}

.supports li
{
    list-style: none;
    margin-bottom: 30px;
    color: #fff;
    
}

.supports li a
{
    color: #fff;
    margin-left: 10px;
}

.supports li a:hover,
.supports li i:hover
{
    color: #ecb101;
}

.resources
{
    margin-top: 25px;
}

.resources h4
{
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
}

.resources li
{
    list-style: none;
    margin-bottom: 30px;
    color: #fff;
}

.resources li a
{
    
    color: #fff;
    margin-left: 10px;
}

.resources li a:hover,
.resources li i:hover
{
    color: #ecb101;
}

.recent_posts
{
    margin-top: 24px;
}

.recent_posts h4
{
    color: #fff;
    font-size: 26px;
    margin-bottom: 40px;
}

.recent_post_content .image img
{
    width: 80px;
    height: 85px;
    border-radius: 12px;
}

.recent_post_content .content
{
    margin-left: 20px;
}


.recent_post_content .content h5 a
{
    color: #dedede;
    font-size: 18px;
    margin-bottom: 10px;
}


.recent_post_content .content p
{
    color: #dedede;
    font-size: 15px;
    margin-top: 10px;
}

.last_footer
{
    background-color: #05274b;
    padding: 30px;
}

.last_footer h3
{
    color: #fff;
    font-size: 22px;
}

.last_footer h3 > i
{
    color: #54b551;
}

.last_footer h3 > a
{
    color: #ecb101;
    font-size: 20px;
}

.last_footer .social_icons
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.last_footer .social_icons a i
{
    color: #fff;
    font-size: 21px;
    margin-left: 20px;
}

.last_footer .social_icons a i:hover
{
    color: #ecb101;
    transition: .5s;
}

.last_footer .social_icons a .fa-facebook-f
{
    color: #063d85;
    
}

.last_footer .social_icons a .fa-twitter
{
    color: #057aa8;
}

.last_footer .social_icons a .fa-instagram
{
    color: #c2354c;
}

.last_footer .social_icons a .fa-linkedin-in
{
    color: #066693;
}

.last_footer .social_icons a .fa-whatsapp
{
    color: #34b7f1;
}

.last_footer .social_icons a .fa-youtube
{
    color: #ff0000;
}

.last_footer .social_icons a .fa-skype
{
    color: #00aff0;
}

.last_footer .social_icons a .fa-snapchat
{
    color: #fffc00;
}

.last_footer .social_icons a .fa-reddit
{
    color: #ff4500;
}

/* Footer CSS Ended Here  */






/* Scrolling Top Btn's css here  */

#top_scroll
{
    position: fixed;
    top: -100%;
    right:2rem;
    padding: 10px 18px;
    font-size: 30px;
    background: #ff4500;
    color:#fff;
    border-radius: 6px;
    transition: 1s linear;
    z-index: 1000;
}

#top_scroll.active
{
    top:calc(100% - 6rem)
}


