@import url('https://fonts.googleapis.com/css2?family=Andika&family=Nunito&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Andika', sans-serif;
}

a
{
    text-decoration: none;
}

.section_heading
{
    text-align: center;

}

.section_heading h2
{
    color: #07294d;
    font-size: 45px;
    line-height: 45px;
    padding: 30px 0;
    text-transform: capitalize;
}

/* Header CSS Started from here*/
.header
{
    background-color: #fff;
    z-index: 9999;
    top: 0;
    position: sticky;
}

.header .navbar img
{
    width: 160px;
    height: 55px;
}



.header .menu-navbar-nav li
{
    margin: 0 8px;
}


.header .menu-navbar-nav li ul li
{
    margin: 15px 0;
}


.header .menu-navbar-nav li:hover ul li a
{
    background: none;
}

.header .menu-navbar-nav li:hover ul
{
    border: none;
    box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
    -webkit-box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
    -moz-box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
}

.header .menu-navbar-nav li a
{
    font-size: 17px; 
    color: #07294d;
    transition: all .5s ease;
}

.header .menu-navbar-nav li a:hover
{
    color: #FFC600;
  
}

.header .menu-navbar-nav li a:hover .fa-angle-down
{
    transform: rotate(180deg);
    transition: .6s;
}


.header .menu-navbar-nav li a .fa-plus
{
    display: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    border: none;
    box-shadow: none;
}

/* Header CSS Ended Here  */





/* Profile Banner Section's CSS Started from Here  */
.profile_banner
{
    background: url(../Images/courses_banner.png);
    min-height: 251px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.profile_banner::before
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #07294d;
    z-index: -1;
    opacity: .7;
    
}

.banner_content h3
{
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.banner_content a,
.banner_content span
{
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
}

/* Profile Banner Section's CSS Ended Here  */





/* Login and Registration Section's CSS Started from Here  */
.profile_create
{
    background-color: #edf0f2;
    padding: 100px 0;
}

.main
{
    background-color: #fff;
    padding: 80px 70px;
   
}

.login
{
    border: 1px solid #eee;
    padding: 40px 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.login_content h4
{
    display: block;
    color: #07294d;
    font-size: 30px;
    line-height: 1.8;
}

.login_content .email
{
    padding: 12px 0;
}

.login_content .email label
{
    display: block;
    margin-bottom: 14px;
}

.login_content .password label
{
    display: block;
    margin-bottom: 12px;
}

.login_content .password
{
    padding: 14px 0;
}

.login_content .username
{
    padding: 14px 0;
}


.login_content .username label 
{
    display: block;
    margin-bottom: 14px;
}


.login_content .chekBtn
{
    display: block;
    margin: 12px 0;
}

.login_content .checkBtn span
{
    display: inline-block;
}



.login_content .email input,
.login_content .password input,
.login_content .username input
{
    width: 100%;
    padding: 7px  6px;
    border-radius: 4px;
    border: 1px solid #b6afaf;
    color: #000;
    letter-spacing: .7px;
}

.login_content .email input::placeholder,
.login_content .password input::placeholder
{
    color: #4b5158;
    letter-spacing: .7px;
}

.login_content .chekBtn a
{
    color: #4b5158;
    font-weight: bold;
    margin-left: 6px;
    letter-spacing: .7px;
}

.login_btn 
{
    padding: 15px 0;
    width: 100%;
    background-color: #ffb606;
    text-align: center;
    margin: 25px 0;
}

.login_btn > a
{
    color: #ffffff;
    font-size: 16.5px;
}

.login_content .lost_pass
{
    color: #666666;
    font-size: 17px;
    letter-spacing: .7px;
}


/* Login and Registration Section's CSS Ended Here  */



















/* Footer Section's CSS Started from Here  */

.footer
{
    padding: 50px 0;
    background-color: #021d3a;
}

.footer_intro
{
    margin-top: -10px;
}

.footer_intro img
{
    margin: 25px 0;
}

.footer_intro p
{
    color: #fff;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1.2px;
}

.supports
{
    margin-top: 25px;
}

.supports h4
{
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
}

.supports li
{
    list-style: none;
    margin-bottom: 30px;
    color: #fff;
    
}

.supports li a
{
    color: #fff;
    margin-left: 10px;
}

.supports li a:hover,
.supports li i:hover
{
    color: #ecb101;
}

.resources
{
    margin-top: 25px;
}

.resources h4
{
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
}

.resources li
{
    list-style: none;
    margin-bottom: 30px;
    color: #fff;
}

.resources li a
{
    
    color: #fff;
    margin-left: 10px;
}

.resources li a:hover,
.resources li i:hover
{
    color: #ecb101;
}

.recent_posts
{
    margin-top: 18px;
}

.recent_posts h4
{
    color: #fff;
    font-size: 26px;
    margin-bottom: 40px;
}

.recent_post_content .image img
{
    width: 80px;
    height: 85px;
    border-radius: 12px;
}

.recent_post_content .content
{
    margin-left: 20px;
}


.recent_post_content .content h5 a
{
    color: #dedede;
    font-size: 18px;
    margin-bottom: 10px;
}

.recent_post_content .content h5 a:hover
{
    color: #ff3412;
    transition: .6s;
}


.recent_post_content .content p
{
    color: #dedede;
    font-size: 15px;
    margin-top: 10px;
}

.last_footer
{
    background-color: #05274b;
    padding: 30px;
}

.last_footer h3
{
    color: #fff;
    font-size: 22px;
}

.last_footer h3 > i
{
    color: #54b551;
}

.last_footer h3 > a
{
    color: #ecb101;
    font-size: 20px;
}





#top_scroll
{
    position: fixed;
    top: -100%;
    right:2rem;
    padding: 10px 18px;
    font-size: 30px;
    background: #ff4500;
    color:#fff;
    border-radius: 6px;
    transition: 1s linear;
    z-index: 1000;
}

#top_scroll.active
{
    top:calc(100% - 6rem)
}


/* Footer Section's CSS Ended Here  */